<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.teenvan.frs" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".FRSApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashActivity"
            android:label="Faculty Recruitment System" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="Job Applicants" >
        </activity>
        <activity
            android:name=".VacancyActivity"
            android:label="Vacancies" >
        </activity>
        <activity
            android:name=".SignInActivity"
            android:label="Sign In" >
        </activity>
        <activity
            android:name=".VacancyViewActivity"
            android:label="View Vacancy" >
        </activity>
        <activity
            android:name=".ApplicationActivity"
            android:label="Job Application" >
        </activity>
        <activity
            android:name=".ExperienceActivity"
            android:label="Expereince" >
        </activity>
        <activity
            android:name=".EducationalActivity"
            android:label="Educational Details">
        </activity>
        <activity
            android:name=".ResearchActivity"
            android:label="Research Details">
        </activity>
        <activity
            android:name=".LinkedinLoginActivtiy"
            android:label="Login With Linkedin">
        </activity>
        <activity
            android:name=".ApplicantProfileActivity"
            android:label="Applicant Profile">
        </activity>
    </application>

</manifest>
